.a{
    opacity: 0;
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    from{
        opacity: 0;
        transform: translateY(30px);

    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}

